  @import url("call.css");
  @import url("buttons.css");
  @import url("scrollDown.css");
  @import url("slick-custom.css");
  @import url("fulljs-custom.css");
  @import url("skewed-images.css");
    body{
  touch-action: none;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
    }
    .df-ac{
      display: flex;
      align-items: center;
    }
    .fp-slidesNav.fp-bottom {
        bottom: 17px;
    }
    .bottom-0{
      bottom : 0px;
    }
  .mb-30{
    margin-bottom: 30px;
  }
  .mb-20{
    margin-bottom: 20px;
  }
  .overflow-x{
    overflow-x: hidden !important;
  }
  .overflow-y-a{
    overflow-y: auto !important;
  }
    .fp-slidesNav {

        width: 400px;
    }
    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background: #fff;
   }
    .fp-slidesNav {
        position: absolute;
        z-index: 4;
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        left: 0!important;
        right: 0;
        margin: 0 auto!important;
        display: flex;
            align-items: center;
            flex-direction: column;
    }
    .bg-image {
        background-size: 93% auto;
        background-repeat: no-repeat;
        background-position: 50%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }

    .compatible {
      background-image: url(../assets/about_project.png);
      margin: auto;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
/*    body::-webkit-scrollbar-thumb:vertical  {
        display: none;
    }*/
    /* Parallax container configuration */
    .intro {
    text-align: center;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      position: relative;
      align-items: center;
      justify-content: space-between;
    }
    .intro h1 {
      padding: 0;
      margin: 0;
      color: #fff;
      font-size: 51px;
      font-weight: bold;
    }
    .intro h3 {
      padding: 0;
      margin: 0;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
    }
    .intro p {
      color: #fff;
      padding: 0;
      margin: 0;
      font-size: 20px;
    }
    .main_section .intro__text {
      margin-top: 100px;
    }
    .main_section .intro__text p {
      margin-top: 30px;
    }
    .main_section .intro__text button {
      padding:  22px 60px;
      font-size: 20px;
      margin-top: 50px;
    }
    .visit_our_projects{
      /*width: 400px;*/
      margin-top: 86px;
      display: flex;
      /*justify-content: ;*/
      border:2px solid #ffffff6b;
    }
    .main_section .visit_our_projects_text p{
      font-size:  18px;
      margin-bottom:15px  ;
      margin-top:15px;
    }
    .visit_our_projects_text a{
      font-size:  10px;
      border:1px solid #ffffffbd ;
      padding:  10px 22px;
      color:  #fff;
      text-decoration:  none;
    }
    .visit_our_projects_text a:hover{

      color:  #fff;
    }

    /* Parallax container background */
    #section0 .intro {
      background-image: url('../assets/mask.png');
      position: relative;
    }
    #section0 .intro:after{
      position: absolute;
     content: '';
     width: 100%;
     height: 100px;
     bottom: 0;
     background: url('/assets/wave.png');
     /*background-color: #fff;*/
     background-repeat: no-repeat;
    }
    #section1 .intro {
      background-image: url('../assets/bg1.png');
      /*background: #FFF;*/
      display: flex;
      /*padding: 0 166px;*/
    }
    #section2 .intro .bg-image{
      /*background-image: url('../assets/about_project.png');*/
      /*padding: 0 166px;*/
    }
    .about_project_siema{
      z-index: 0;
    }
/*    #section3 .intro {
      background-color: #fff;
      padding: 120px 166px;
    }*/
    #section4 .intro {
      background-image: url(../assets/summary.png);
      padding: 0 166px;
    }
    #section5 .intro {
      background-image: url(../assets/flat.png);
      padding: 0 166px;
    }
    #section11 .intro {
      background: #fff;
      justify-content: space-between;
    }
    #section12 .intro {
      background: #fff;
      padding: 0 166px;
      justify-content: space-between;
    }
    #section13 .intro {
      background: #fff;
      /*padding: 0 166px;*/
      justify-content: space-between;
    }
    #section14 .intro {
      background: #fff;
      /*padding: 0 166px;*/
      justify-content: space-between;
    }
    #section16 .intro {
      background: #fff;
      padding: 50px 30px;
      align-items: flex-start;
      margin-bottom: 90px;
    }


    #menu{
      position: absolute;
      top: 79px;
      /* right: 232px; */
      z-index: 1;
      width: 100%;
      padding: 0 232px;
      justify-content: space-between;
      align-items: center;
    }
    #myMenu{
        display: inline-block;
        list-style-type: none;
        margin-bottom: 0;

    }
    .menu-logo{
      margin-bottom: auto;
    }
    .menu ul a{
      padding: 0 15px;
      color: #FFF !important;
      font-size: 18px;
      transition: color 0.2s ease;

    }
    .menu ul a:hover{
      text-decoration: none;
    }
    a { color:black;  text-decoration: none;}
    a:hover { color:blue; }
    .nav a { color:green; }
    .menu .active a{
        color: #E2D82F;
    }
   #menu li {
      display: inline;
    }
    #menu .menu_phone{
      margin-top: 50px;
      font-size: 23px;
      color: #FFF;
      padding: 0 15px;
    }
  .intro__text{
/*    width: 636px;
    margin-left: 162px;*/
    text-align: left;

  }
  .feedback{
    position: fixed;
    bottom: 50px;
    right: 60px;
    width: 29%;
    align-items: center;
    z-index:3 ;
    transition:bottom 500ms ease-in-out;
  }
  .partners{
    display: none;
    position: fixed;
    left: 10%;
    bottom: 3%;
    z-index: 5;
  }
  .partner__logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.feedback__buttons .call{
  margin-right: 190px;
  font-size: 14px;
  color: #FFF !important;
  padding: 15px 55px;
  border-radius: 0px
  }
.feedback__buttons .btn-brand{
  background-color: #EADF26;
  border-color: #EADF26;
}
.socials_lisi{
  position: fixed;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}
.socials_lisi ul{
  list-style: none;
  padding: 30px 14px;
  background: #FFF;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-bottomleft: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-bottom: 0;
  text-align: center;
  -webkit-box-shadow: -2px 0px 15px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: -2px 0px 15px -3px rgba(0,0,0,0.35);
  box-shadow: -2px 0px 15px -3px rgba(0,0,0,0.35);
}
.socials_lisi ul li{
  padding: 4px 0;
}
.socials_lisi a{
  color: #3E3E3F;
  font-size: 22px;
  transition: color 0.2s ease-in-out;
}
.socials_lisi a:hover{
  color: #E2D82F;
}
.gradiant{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+49,ffffff+49,ffffff+50,ffffff+100&0+1,0.3+50,0.5+76,0.7+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.29) 49%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.5) 76%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.29) 49%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.5) 76%,rgba(255,255,255,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.29) 49%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.5) 76%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3ffffff',GradientType=0 ); /* IE6-9 */
}

/*four seasons*/

.four-season .col-xl-5{
  align-items: center;
      display: flex;
      justify-content: center;
}
.four-season__text{
  /*flex: 1;*/
  /*align-items: center;*/
  text-align: left;
}
.four-season__text h2{
  font-size: 54px;
  margin-bottom: 75px;
  text-align: left;
  color: #FFF;
}
/*.four-season__text h2:after{
  content: '';
  position: absolute;
  left: -35px;
  top: -11px;
  width: 165px;
  z-index: -1;
  height: 77px;
  background-color: #EADF26;
}*/
.four-season__text p{
  font-size: 32px;
  margin-bottom: 75px;
  margin-bottom: 130px;
  color: #FFF;
  text-align: left;
}
.four-season__input{
  max-width: 429px;
  border-radius: 0px;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.1);
  border:none;
}
.four-season__input:focus {
    color: #495057;
  border:none;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.35);
}
.four-season__submit{
  padding:12px 44px ;
  background-color: #EADF26;
  border: none;
  outline: none;
  border-radius: 0;
}
.four-season__submit:hover {
    color: #fff;
    background-color: #EADF26;
    border-color: #EADF26;
}
.four-season__submit:not(:disabled):not(.disabled):active{
  color: #fff;
  background-color: #EADF26;
  border-color: #EADF26;
}
.four-season__submit:focus , .four-season__submit:active , .four-season__submit:active:focus{
     box-shadow: none;
    outline: 0;
}
.four-season__submit:not(:disabled):not(.disabled):active:focus{
     box-shadow: none;
    outline: 0;

}
.four-season__img{
  z-index: 1;
  max-height: 500px;
}
.gray_box{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 240px;
  height: 240px;
  background: #252525;
  z-index: 0;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.green_box{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 240px;
  height: 240px;
  background: #EADF26;
  z-index: 0;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.about-project .about-project__title{
  font-size: 45px;
text-align: right;
margin-bottom: 35px;
position: relative;
z-index: 1;
}
/*.about-project .about-project__title:after{
  content: '';
  position: absolute;
  right: 0px;
  top: -11px;
  width: 165px;
  z-index: -1;
  height: 77px;
  background-color: #EADF26;
}*/
.about-project .about-project__text{
  font-size: 20px;
  text-align: right;
  margin-bottom: 40px;
}
.about-project .about-project__btn{
  border: 1px solid #EADF26;
  color: #fff;
  padding: 15px 44px 16px 24px;
}
.about-project .about-project__btn:focus {
    outline: 0;
    box-shadow: none;
}
/*.project-highlights__row{
  padding: 120px 0;
}*/
.project-highlights__wrap{
  width: 290px;
  box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.25);
  border-radius: 35px;
}
/*.project-highlights__row .mb-2:nth-child(1) .project-highlights__wrap{
  -webkit-box-shadow: -20px -20px 0px 0px rgba(222,253,231,0.33);
  -moz-box-shadow: -20px -20px 0px 0px rgba(222,253,231,0.33);
  box-shadow: -20px -20px 0px 0px rgba(222,253,231,0.33);
}
.project-highlights__row .col-lg-4:nth-child(2) .project-highlights__wrap{
  -webkit-box-shadow: 0px -70px 0px -50px rgba(222,253,231,0.33);
  -moz-box-shadow: 0px -70px 0px -50px rgba(222,253,231,0.33);
  box-shadow: 0px -70px 0px -50px rgba(222,253,231,0.33);
}
.project-highlights__row .col-lg-4:nth-child(3) .project-highlights__wrap{
  -webkit-box-shadow: 20px -20px 0px 0px rgba(222,253,231,0.33);
  -moz-box-shadow: 20px -20px 0px 0px rgba(222,253,231,0.33);
  box-shadow: 20px -20px 0px 0px rgba(222,253,231,0.33);
}*/
.project-highlights__wrap{
  /*background-image: url(../assets/color_shadow.png);*/
  padding: 20px 19px;
  position: relative;
  background-color: #FFF;
  max-height: 290px;
  min-height: 290px;
}
.project-highlights__div{
  position: relative;
}
.project-highlights__row .project-highlights__div:first-child:before{
  left: -10px;
}
.project-highlights__row .project-highlights__div:last-child:before{
  left: 26%;
}
.project-highlights__div:before{
  content: '';
  position: absolute;
  z-index: 100000;
  left:9%;
  right: 0;
  top: -18px;
  /* right: 50%; */
  width: 100%;
  z-index: 0;
  height: 100%;
  background-image: url(../assets/color_shadow.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.project-highlights__header i{
  margin-bottom: 15px;
  font-size: 26px;
  color: #EADF26;
}
.project-highlights__header h2.project-highlights__title{
  margin-bottom: 30px;
  font-size: 21px;
}
.project-highlights__body p {
  font-size: 15px;
  color: #000;
}

.project-summary__wrap .summary__title-wrap{
  border-top-left-radius: 74px;
  background: #EADF26;
}
.project-summary__wrap .summary__text-wrap{
      display: flex;
    text-align: left;
    align-items: center;
  background: #fff;
  padding: 15px 95px;
}
.project-summary .project-summary__title{
  font-size: 52px;
  /* margin-bottom: 40px; */
  color: #FFF;
  padding: 40px;
  margin-bottom: 0;
}
.project-summary .project-summary__text{
  font-size: 16px;
  /*margin-bottom: 40px;*/
  color: #000;
}
.statistics-row{
  background-color: #0000005c;
  padding:50px 100px;
}
.statistic{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.statistic:after{
  content: '';
  position: absolute;
  height: 29px;
  width: 1px;
  right: -15px;
  top: 30%;
  background: #EADF26;
}
.statistic.last:after{
  width: 0px;
}
.statistic__number{
  margin-right: 15px;
}
.statistic__number h3{
  font-size: 60px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 0;
  width: 163px;
  height: 84px;
}
.statistic__text p{
  font-size: 16px;
  color: #FFF;
  text-align: left;
}
.flat-wrap{
  width: 100%;
}
.flat-wrap:after {
  content: "";
  background: #fff;
  position: absolute;
  width: 250px;
  height: 200px;
  top: 40%;
  right: 120px;
  border-top-right-radius: 110px;
  z-index: 0;
  border-bottom-left-radius: 110px;
}
.flat__pointers{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}
.chair_pointer{
  text-align: right;
  position: relative;
  left: 26%;
  top: 30px;
}
.chair_pointer p{
  display: inline;
  position: relative;
  top: 30px;
}
.furtiture_pointer{
  position: relative;
  top: -55px;
}
.furtiture_pointer p{
  display: inline;
      position: relative;
      top: -23px;
}
.flat-title{
  position: relative;
  background-color: #FFF;
  width: 450px;
  left: -10%;
  top: -12px;
  z-index: 2;
  -webkit-box-shadow: 5px 0px 15px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: 5px 0px 15px -3px rgba(0,0,0,0.35);
  box-shadow: 5px 0px 15px -3px rgba(0,0,0,0.35);
  border-top-left-radius: 70px;

}

.flat-title h2{
  font-size: 33px;
  color: #000;
  margin-bottom: 0;
  padding: 40px 30px;
  text-align: left;
}
.flat-text{
  position: relative;
  background-color: #3E3E3F;
  padding: 150px 50px 20px 50px;
  top: -150px;
  z-index: 1;
  max-width: 415px;
  border-top-left-radius: 91px;
  border-bottom-right-radius: 93px;
}
.flat-text:after{
  content: '';
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
}
.move-up{
  bottom: 380px;
}
.flat-text p{
  color: #fff;
  font-size: 18px;
}
.footer{
  padding: 20px 100px;
  padding-bottom: 0;
}
.footer-info{
  font-size: 22px;
  text-align: left;
}
.footer-info i{
  font-size: 36px;
  color: #3E3E3F;
}
.footer .partnerts p{
  color: #000;
}
.footer .partnerts{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer .partnerts:before , .footer .partnerts:after{
  content: '';
  width: 1px;
  height: 70%;
  background: #EADF26;
  /* margin: 2px 0; */
  position: absolute;
  top: 11%;
  bottom: 0px;
}
.footer .partnerts:before{
  left: 0;
}
.footer .partnerts:after{
  right: 0;
}
.footer-text{
  text-align: left;
  padding: 0px 35px;
}
.footer-text-top p{
  color: #000;
}
.footer-text-top{
  margin-bottom: 20px;
}
.footer-text-middle button{
  border-radius: 0;
  border: 1px solid #3E3E3F;
  background: #fff;
  width: 230px;
  padding: 15px 0;
}
.footer-nav{
  width: 100%;
}
.footer-nav ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  background: #3E3E3F;
  /*padding: 0;*/
  padding: 20px;
  list-style: none;
  position: relative;
}
.footer-nav ul:before{
  content: '';
      width: 150%;
      height: 100%;
      background: #3E3E3F;
      position: absolute;
      top: 0;
      z-index: 0;
      left: -30%;
}
.footer-nav ul a{
color: #FFF;
z-index: 3;
position: relative;
}
.footer-rights{
  z-index: 3;
  position: relative;
}
.footer-copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
}
.footer-socials_lisi{
  padding: 20px 0;
  z-index: 3;
  position: relative;
}
.footer-socials_lisi ul{
      display: flex;
    justify-content: space-between;
    width: 140px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.footer-copyright:before{
  content: '';
      width: 150%;
      height: 100%;
      background: #F2F2F2;
      position: absolute;
      top: 0;
      z-index: 0;
      left: -30%;
}
.footer-socials_lisi a{
  color: #606060;
  font-size: 20px;
  transition: color 0.2s ease;

}
.footer-socials_lisi a:hover{
  color: #E2D82F;
}


.intro .rights{
  color: #000;
  margin-top: 10px;
  align-items: center;
  text-align: center;
}


/*============================================================= feedback page =============================================================*/
.right{
  background-color: #00000080;
  bottom: 0;
  right: -100%;
  position: fixed;
  top: 0;
  transition: width 1s;
  width: 100%;
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out , right 0.5s ease-in-out ;
  z-index: 2;
}
.right.active {
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out , right 0.2s ease-in-out ;
  visibility: visible;
  opacity:1;
    right: -0%;
    z-index: 5;
}
.right .content{
  background-color: #fff;
/*  position: fixed;
  bottom: 0;
  top: 0;
*/
  right: -100%;
  transition: width 1s;
  width: 100%;
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out , right 0.5s ease-in-out ;
  z-index: 2;
  padding: 0 100px;
  align-items: center;
}
.right .content.active {
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out , right 0.5s ease-in-out ;
  visibility: visible;
  opacity: 1;
    right: -59%;
    /*z-index: 2;*/
}
.callback__header{
  font-size: 25px;
  margin-bottom: 70px;
}
.callback__header:before , .callback__header:after{
  content: '';
  position: absolute;
  height: 1px;
  width: 106px;
  top: 15px;
  /*top: 30%;*/
  background-color: #EADF26;
}
.callback__header:before{
  left: 110px;
}
.callback__header:after{
  right: 110px;
}
.callback__form{
  padding: 0 15%;
}
.callback__form .callback__input{
  background: #F2F2F2;
  padding: 30px 0px;
  border: none;
}
.callback__content .callback__form .callback__group span{
  background: #F2F2F2;
  color: #A6A6A6;
  padding: 0 20px;
  font-size: 20px;
  border: none;
}
.callback__form .callback__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00000029;
}
.callback__form .callback__input:focus { /* Chrome, Firefox, Opera, Safari 10.1+ */
      box-shadow: none;
}
.callback__submit{
  font-size: 21px;
  /*padding: 20px 0px;*/
  background-color: #EADF26;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.callback__submit:focus , .callback__submit:active{
  box-shadow: none;

}
.callback__close{
  font-size: 21px;
  padding: 20px 0px;
  background-color: transparent;
  color: #cbcbcbc4;
}
/*floor overview*/
.flat-plan{
  background-color: #fff;
  box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.4);
  border-top-left-radius: 20px;
}
.flat-plan .flat-plan-row1{
  padding: 20px;
}
.flat-name{
  margin-bottom: 40px;
}
.flat-plan p , .flat-plan h3{
  color: #000;
}
.flat-plan .flat-description{
  margin-bottom: 30px;
  font-size: 20px;
}
.flat-rooms{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flat-room{
  flex: 1 0 30%; /* explanation below */
  margin: 5px;
  height: 100px;
  /*background-color: blue;*/
  text-align: left;
}
.flat-room-name{
  font-size: 24px;
}
.flat-room-sqm{
  font-size: 16px;
}
.flat-plan-bottom{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background: #F8F8F8;
  align-items: center;
}
.apt-rooms{
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.flat-plan-call{
  color: #FFF;
  padding: 0 20px;
}
.flat-plan-call-text{
  font-size: 15px;
}
.flat-plan-call:before{
  content: '';
  background: #3E3E3F;
  width: 100%;
  height: 111%;
  position: absolute;
  top: -30px;
  left: 0;
  border-bottom-left-radius: 25px;
  }
.flat-plan-call-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.flat-plan-call-top h2{
  font-size: 18px;
}
.flat-plan-call-top , .flat-plan-call-bottom{
  position: relative;
  z-index: 2;
}
.flat-plan-call-bottom form input{
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  border-radius: 0;
  color: #fff;

}
.flat-plan-call-bottom form button{
  padding: 15px;
  border-radius: 20px;
  margin-top: 50px;
  font-weight: 700;
}
.flat-plan-call-bottom form input:focus{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  color: #fff;
}
.flat-plan-call-bottom form input::placeholder{
  color: #FFF;
}

/*floor overview end*/

/*buildings*/
.buildings p{
  color: #000;
}
.buildings-title-section{
  margin-bottom: 40px;
}
.buildings-section__slider{
  padding: 60px 20px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
  margin-bottom: 50px;
  border-top-left-radius: 70px;
}
.buildings-section__slide{
  margin: 20px 0;
  padding: 0 20px;
}
.slide-middle-bottom{
  border-top-left-radius: 40px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
}
.buildings-section__slide-top .slide-title{
  color: #000;
  text-align: left;
  font-weight: 700;
  margin-bottom: 30px;
}
.sold-flag{
  max-width: 130px;
  position: absolute;
  top: 0;
  right: 0;
}
.slide-image{
  border-top-left-radius: 40px;
}
.slide-image-bottom{
  background-color: #3E3E3F;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
.buildings-section__slide-bottom{
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 20px 17px;
}
.sold-out{
  color: #C03434 !important;
}
.in-sale{
  color: #72BB88 !important;
}
.sales-ended{
  color: #CCCCCC !important;
}
/*end buildings*/

/*house Interior*/
/*.houseInterior__right{
  margin: 100px 0;
}*/
.houseInterior__right .houseInterior__title{
  color: #3B3B3B;
  margin-bottom: 40px;
  text-align: left;
}
.houseInterior__right .houseInterior__text{
  color: #3B3B3B;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}
.houseInterior__middle form{
  padding: 0 50px 0 0;
}
.houseInterior__middle input{
  padding: 30px 30px;
  background: #F6F6F6;
  border: none;
}
.houseInterior__middle input:focus{
  box-shadow: none;
  background: #F6F6F6;
  border: none;
}
.houseInterior__middle input:placeholder{
  color: #0000007a;
}
.houseInterior__middle button{
  padding: 20px ;
}
.houseInterior__left img{
  position: absolute;
  max-height: 310px;
}
.houseInterior__left .img1{
  z-index: 2;
  top: 0;
  left: 0;
}
.houseInterior__left .img2{
  z-index: 3;
  bottom: 0;
  left: 10%;
}
.houseInterior__left .img3{
  z-index: 4;
  right: 0;
  bottom: 20%;
}

/*end house Interior*/


/*skewed elements*/
.featured-image-upper{
  text-align: left;
  padding: 0 200px;
}
.featured-image-upper.two-images-upper{
  padding: 0px 100px 0 230px;
}
.featured-image-middle{
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 0 60px 0px 200px;
  width: 100%;

}
.featured-image-middle.two-images-middle{
  padding: 0 10px 0px 230px;
}
.featured-image-upper h2{
  font-size: 40px;
  margin-bottom: 50px;
}
.featured-image-upper p{
  margin-bottom: 60px;
}
.featured-image-middle .invest-statistic__number .stat_anime{
  color: #000;
}
.two-images-inner .invest-statistic__number .stat_anime{
  color: #fff;
}
.invest-statistic{
  padding: 0 20px;
}
.invest-statistic  .invest-statistic__text p{
  font-size: 14px;
}

.featured-image-upper button{
  padding: 15px 40px;
  border-color: #000;
  color: #000;
  border-radius: 0;
  background-color: #FFF;
}
.sec_15_stats{
  justify-content: space-around;
  margin-top: 40px;
}
/* end skewed elements*/
/* developer */
.developer-titleBox{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 22px;
  margin-bottom: 50px ;
}
.developer-title{
  font-size: 42px;
  font-weight: bold;
}
.title-line{
  height: 1px;
  width: 540px;
  background: #000;
}
.title-button{
  border-radius: 0px;
  border-bottom-left-radius: 33px;
  background: #fff;
      padding: 10px 29px;
      border: 1px solid #000;
      font-size: 14px;
}
.developer-contentBox{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.developer-statistic__bottom{
  display: flex;

}
.developer-statistic__number{
  margin-right: 15px;
}
.developer-statistic__number .stat_anime{
  font-size: 70px;
  color: #000;
}
.developer-statistic__text{
  text-align: left;
}
.developer-statistic__text p{
  color: #000;
  font-size: 14px;
}
.developer-statistic__imageWrap{

  width: 98px;
  height: 98px;
  z-index: 3;
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
}
.developer-statistic__imageWrap:before{
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  left: -11px;
  top: -11px;
  z-index: -1;
  border-radius: 50%;
  right: 0px;
  margin: 0 auto;
  background: -moz-radial-gradient(center, ellipse cover, #4dc6df 0%, #4dc6df 50%, #eadf26 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #4dc6df 0%,#4dc6df 50%,#eadf26 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #4dc6df 0%,#4dc6df 50%,#eadf26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc6df', endColorstr='#eadf26',GradientType=1 );
}
.developer-statistic__image{
  width: 98px;
  height: 98px;
  z-index: 3;
  border-radius: 50%;
  background: #3E3E3F;
  width: 98px;
  height: 98px;
  z-index: 3;
  border-radius: 50%;
  background: #3E3E3F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: #fff;
}
/* end developer */
/*.left {

    left: 0%;
    transition: left 0.5s ease-in-out;
}

.left.active {
    left: -20%;
}*/
/*============================================================= feedback page =============================================================*/
