.slick-dots li {
    width: auto;
    height: auto;
}
.flat-plan-bottom .slick-dots {
    justify-content: space-evenly;
    bottom: 0;
}
.slick-dots{
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
}
.slick-dots li button:before {
    width: 10px;
    height: 10px;
    bottom: 30px;
    content: '';
    text-align: center;
    opacity: 1;
    border-radius: 50%;
    background: #EADF26;

}
.pager__item{
    padding: 13px 30px;
    background: #fff;
    color: #000;
    transition: all 0.3s ease-in-out;
}
li.slick-active a.pager__item{
    color: #fff !important;
    background: #E2D82F;
}
.pager__item:hover{
    color: #fff !important;
    background: #E2D82F;
}
